{% extends "index.html"%}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}

{% block content %}
    <body {% if user and user.gender==1 %}id="indexbody"{% else %}id="maleindexbody"{% endif %}>
<div class="container-fluid m-5">
    <div class="container">
<div class="m-5">
        <ul class="nav nav-tabs m-2 ">
    <li class="nav-item">
      <a class="nav-link active text-black" href="#inf">Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user.information')}}" >Modify Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user.newpassword') }}" >Modify Password</a>
    </li>
             <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user.collection') }}" >My Collection</a>
    </li>

  </ul>



    <div class="row ">
        <div class="col-lg-4">
     <div class="card text-white" style="width: 18rem;height:30rem  ">
  <img  src={% if user.img %}{{ url_for('static',filename=user.img) }}{% else %}{{ url_for('static',filename='images/icon.jpg')}}{% endif %}  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-white">Usename:  {{ user.username }}</h5>
    <p class="card-text text-white">Phone Number:{{ user.phone }}</p>
      <p class="card-text text-white">Email Address: {{ user.email }}</p>

    <a href="{{ url_for('post.newpost',user=g.user) }}" class="btn btn-primary">Publish New Post</a>
  </div>
     </div>
        </div>
         <div class="col-lg-8">
              <div class="blank"></div>
  <div class="blogs">
    <ul class="bloglist">
        {% for post in post %}
            {% if post.user_id == user.id %}
                      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->
          <h2 class="title"><a href="{{ url_for('post.detail') }}?pid={{ post.id }}" target="_blank">{{ post.title }}</a></h2>
          <ul class="textinfo">
         {% if post.post_img %}  <a href="{{ url_for('post.detail') }}?pid={{ post.id }}"><img src={{ url_for('static',filename=post.post_img) }}></a>{% endif %}
              <p><a href="#"><em class="text-warning">Author: {{ post.user.username }}</em></a></p>
         {% if post.user_id == user.id %} <p  style="float: right"><a class="text-success" href="{{ url_for('user.deletepost')}}?pid={{post.id }}">Delete My Post</a></p>{% endif %}
              <p>{{ post.text }}</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">{{ post.like_times }}</a></li>
            <li class="bi bi-eye-fill"><a href="#">{{ post.browsing_times }}</a></li>
            <li class="icon-time"><a href="#">{{ post.post_time }}</a></li>
          </ul>
        </div>
        <!--arrow_box end-->
      </li>
            {% endif %}
        {% endfor %}

    </ul>
    <!--bloglist end-->
         </div>
         </div> </div></div> </div>
</div>
</body>
{% endblock %}
